<div class="container">

  <h1><%= @project.title %></h1>
  <p><%= @project.description %></p>
  <div class="post-cards">
    <% @posts.each do |post| %>
      <%= link_to post_path(post) do %>
        <div class="post-card">
          <p><%= post.title %></p>
        </div>
      <% end %>
    <% end %>
    <div class="post-card">
      <%= link_to "⊹", new_project_post_path(@project) %>
    </div>
  </div>

<%= link_to "Delete Project", project_path(@project),
  data: {
    turbo_method: :delete,
    turbo_confirm: "Delete this project and all associated posts and comments?"
  }
%>

<%= link_to "Back to projects", projects_path %>
