<div class="container">
  <%= simple_form_for [@project, @post] do |f| %>
    <%= f.input :title %>
    <%= f.input :media, as: :file %>
    <%= f.input :media, as: :file %>
    <%= f.input :media, as: :file %>
    <%= f.button :submit %>
  <% end %>

  <%= link_to "Back to project", project_path(@project) %>
</div>
