<div class="container">
  <h1><%= @post.title %></h1>

  <% @post.media.each do |media| %>
    <% if media.content_type.starts_with?('image/') %>
      <%= cl_image_tag media.key, width: 400, height: 300, crop: :fill %>
    <% elsif media.content_type.starts_with?('video/') %>
      <%= video_tag url_for(media), width: 400, height: 300, controls: true, autoplay: false %>
      <!-- playback wasnt working with cl_video_tag -->
    <% elsif media.content_type.starts_with?('audio/') %>
      <%= audio_tag url_for(media), controls: true %>
      <!-- used audio as cloudinary has no audio tag for rails -->
    <% else %>
      <p>Unsupported media type</p>
    <% end %>
  <% end %>


  <div class="comment-cards">
    <% unless @post.comments.nil? %>
      <% @post.comments.each do |comment| %>
        <div class="comment-card">
          <% comment.media.each do |media| %>
            <% if media.content_type.starts_with?('image/') %>
              <%= cl_image_tag media.key, width: 400, height: 300, crop: :fill %>
            <% elsif media.content_type.starts_with?('video/') %>
              <%= video_tag url_for(media), width: 400, height: 300, controls: true, autoplay: false %>
            <% elsif media.content_type.starts_with?('audio/') %>
              <%= audio_tag url_for(media), controls: true %>
            <% else %>
              <p>Unsupported media type</p>
            <% end %>
          <% end %>
          <p><%= comment.content %></p>
          <p> - <%= comment.user.email %><%= " - original poster" if comment.user== @post.project.user %></p>
          <p> - <%= comment.created_at.strftime("%b %e, %Y %l:%M%P") %></p>
          <%= link_to "Delete", comment_path(comment),
            data: {
              turbo_method: :delete,
              turbo_confirm: "Delete this comment?"
            }
          %>
        </div>
      <% end %>
    <% end %>
    <div class="comment-card">
      <%= simple_form_for [@post, @comment], html: { multipart: true } do |f| %>
        <%= f.input :media, as: :file, input_html: { multiple: true }  %>
        <%= f.input :content %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>

  <%= link_to "Delete post", post_path(@post),
    data: {
      turbo_method: :delete,
      turbo_confirm: "Delete this post and all associated comments?"
    } %>

  <%= link_to "Back to project", project_path(@post.project) %>
</div>
