<h1><%= @post.title %></h1>

<h3>Comments:</h3>
<% unless @comments.nil? %>
  <% @comments.each do |comment| %>
    <p><%= comment.content %></p>
    <p> - <%= comment.user.email %></p>
    <%= link_to "Delete_comment", comment_path(comment),
      data: {
        turbo_method: :delete,
        turbo_confirm: "Delete this comment?"
      }
    %>
  <% end %>
<% end %>

<%= simple_form_for [@post, @comment] do |f| %>
  <%= f.input :content %>
  <%= f.button :submit %>
<% end %>

<%= link_to "Delete post", post_path(@post),
  data: {
    turbo_method: :delete,
    turbo_confirm: "Delete this post and all associated comments?"
  } %>

<%= link_to "Back to project", project_path(@post.project) %>
